<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Danh Sách Sách</title>
</head>
<body>
<section layout:fragment="content">

  <h3 class="mb-3">Danh Sách Sách</h3>

  <a class="btn btn-primary btn-sm mb-3" th:href="@{/books/add}">
    Thêm Sách Mới
  </a>

  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-hover align-middle mb-0">
        <thead class="table-light">
        <tr>
          <th style="width:80px;">ID</th>
          <th>Tiêu đề</th>
          <th>Tác giả</th>
          <th style="width:160px;">Hành động</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">
          <td th:text="${book.id}">1</td>
          <td th:text="${book.title}">Spring boot</td>
          <td th:text="${book.author}">Nguyễn Huy Cường</td>
          <td>
            <a class="btn btn-warning btn-sm"
               th:href="@{/books/edit/{id}(id=${book.id})}">
              Sửa
            </a>

            <a class="btn btn-danger btn-sm"
               th:href="@{/books/delete/{id}(id=${book.id})}"
               onclick="return confirm('Xoá sách này?')">
              Xoá
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
</body>
</html>